@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --textColor: #ff9800;
  --accent: #fdc97c;
  --onOrange: #fff;
}

html,
body {
  height: 100%;
}

#root,
.App {
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

body {
  color: var(--textColor);
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
}

[class*="__container"] {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

a {
  color: inherit;
}

.title {
  font-size: clamp(1.875rem, 1.307rem + 2.84vw, 3.438rem);
  text-align: center;
  font-weight: 900;
}

.currentPage {
  border-bottom: 3px solid white !important;
  background: #000;
}
