.header {
  background: linear-gradient(270deg, #fdcc7f 44.11%, #fcb968 95.26%);
  color: var(--onOrange);
  padding: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem) 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 425px) {
  .header__logo-name {
    font-size: 16px;
  }
}
@media (max-width: 335px) {
  .header__logo-name {
    display: none;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
}
.header__item:hover {
  color: #f1f1f1;
}
.header__item:active {
  transform: translateY(5px);
}
@media (max-width: 425px) {
  .header__item {
    font-size: 20px;
  }
}
