.slovo {
  padding: 80px 0;
  text-align: center;
}

.slovo__container {
  padding: 0 5px !important;
}

.slovo__title {
  font-size: clamp(2.188rem, 1.051rem + 5.68vw, 5.313rem);
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
.slovo__desc {
  font-size: clamp(1.25rem, 0.455rem + 3.98vw, 3.438rem);
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
}
.slovo__btn {
  display: block;
  font-size: 30px;

  text-align: center;
  border: 1px solid var(--textColor);
  border-radius: 50px;
  padding: 15px;
  max-width: 400px;
  margin: 50px auto 0;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

@media (max-width: 400px) {
  .slovo__btn {
    font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
    font-weight: 700;
  }
}

.slovo__btn:hover {
  background-color: var(--textColor);
  color: white;
}
.slovo__btn:active {
  background-color: #1b2510;
  transform: translateY(5px);
}

.slovo__example {
  font-size: clamp(1.25rem, 0.455rem + 3.98vw, 3.438rem);
  line-height: 1.5;
  font-weight: 700;
  color: #000;
  margin-top: 50px;
  text-align: left;
  padding: clamp(1rem, 0.227rem + 3.86vw, 3.125rem) 0;
}
