.slovo {
  padding: 80px 0;
}
.slovo__title {
  font-size: clamp(3.125rem, 1.989rem + 5.68vw, 6.25rem);
  font-style: italic;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}
.slovo__desc {
  font-size: 36px;
  font-weight: 700;
}
.slovo__btn {
  display: block;
  font-size: 36px;
  text-align: center;
  border: 1px solid var(--textColor);
  border-radius: 50px;
  padding: 15px;
  max-width: 400px;
  margin: 50px auto 0;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.slovo__btn:hover {
  background-color: var(--textColor);
  color: white;
}
.slovo__btn:active {
  background-color: #1b2510;
  transform: translateY(5px);
}
